.main-profile-pic {
	border:black solid;
	border-radius:50%;
	width:100px;
	height:100px;
	margin:5px;
}
.small-profile-pic {
	border:black solid;
	border-radius:50%;
	width:50px;
	height:50px;
	margin:5px;
}
* {
	font-family: 'Poppins', sans-serif;
	background-color:#EFEFEF;
	color:#A9A9A9;
	font-size:16px;
}
.nav-bar {
	height:80px;
	background-color:#77c9d4;
	padding:10px;
	color:white;
	width:100%;
}

.fb-button {
	position:relative;
	float:right;
	background-color:#3B5998;
	color:white;
	padding:10px;
	height:40px;
	margin-top:10px;
	border-radius:10px;
}
.blue-container {
	background-color:#77c9d4;
	padding:5px;
	margin:10px;
	max-width:80%;
	text-align:center;
}
.fa {
	margin:2px,1px,1px,1px;
	color:white;
	background-color:#3B5998;
}