.nav-pic {
	border:black solid 1px;
	border-radius:50%;
	width:60px;
	height:60px;
	float:right;
	margin-right:20px;
}
.small-profile-pic {
	border:black solid 1px;
	border-radius:50%;
	width:60px;
	height:60px;
	margin:5px;
}
* {
	font-family: 'Poppins', sans-serif;
	background-color:#EFEFEF;
	color:#808080;
	font-size:18px;
}
.nav-bar {
	height:80px;
	background-color:#CAEBF2;
	padding:10px;
	color:white;
	width:100%;
}

.fb-button {
	position:relative;
	float:right;
	background-color:#3B5998;
	color:white;
	padding:7px;
	height:40px;
	margin-top:10px;
	margin-right:15px;
	border-radius:10px;
	border:none;
}

.fa {
	margin:2px,1px,1px,1px;
	margin-right:4px;
	color:white;
	background-color:#3B5998;
}

.red-button {
	position:relative;
	background-color:#ff3b3f;
	color:white;
	margin:8px;
	border:none;
	border-radius:8px;
	padding:7px;
	font-size:16px;
}
.request-container {
	padding:15px;
}
.karma {
 	position:relative;
 	height:40px;
 	white-space:nowrap;
 	float:right;
 	padding:10px;
 	margin-right:20px;
 	margin-top:6px;
 	background-color:#CAEBF2;
 	max-height:70%;
}
.username {
	position:relative;
 	height:40px;
 	float:right;
 	padding:10px;
 	margin-right:20px;
 	background-color:#CAEBF2;
 	max-height:70%;
 	white-space:nowrap;
 	margin-top:6px;
}
.nav-bar-spacer {
	width:200px;
}
.welcome {
	text-align:center;
	font-size: 60px;
	position: relative;
}

.tag-line {
	text-align: center;
	font-size:30px;
	margin-top:10px;
	position: relative;
}
.spacer {
	height:25vh;
}
.fb-button-big{
	position:relative;
	text-align:center;
	height:60px;
	background-color:#3B5998;
	color:white;
	padding:8px;
	margin-top:20px;
	border-radius:10px;
	border:none;
	font-size:24px;
}
.center {
	text-align:center;
}
.greeting {
	margin-top:10vh;
	font-size:48px;
	text-align:center;
}
.group-select {
	text-align:center;
	padding:20px;
	font-size:36px;
}
.group {
	position:relative;
	text-align:center;
	height:60px;
	color:white;
	padding:8px;
	font-size:24px;
}

.group-button {
	border-radius:10px;
	background-color:#ff3b3f;
	border:none;
	padding-left:10px;
	padding-right:10px;
}
.new-group {
	margin-top:20px;
	font-size:18px;
}